service: telegram-bot-demo

provider:
  name: aws
  runtime: python3.8
  region: eu-west-1
  environment:
    TELEGRAM_TOKEN: ${file(./serverless.env.yml):TELEGRAM_TOKEN, ''}

functions:
  bot:
    handler: handler.process_update
    events:
      - http: POST /

plugins:
  - serverless-python-requirements
